* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}


#header {
    border: solid #2B2626;
    background: #2B2626;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    text-decoration: none;
    padding-top: 20px;
    color: black;
}

#header-img {
    display: flex;
    width: 20%;
    justify-content: center;
}

#image {
    width: 550px;
    padding: 40px 40px 0px;
}

#video {
    margin-top: 61px;
    height: 100vh;
}

.img-row {
    display: flex;
    justify-content: center;
}

img {}

#video-container {
    display: flex;
    justify-content: center;

}

.h1-elements {
    color: blue;
    padding-left: 19%;
    font-family: 'Alfa Slab One';

}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}

.div-button {
    align-content: center
}