* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}


#header {
    border: solid #2B2626;
    background: #2B2626;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    text-decoration: none;
    padding-top: 20px;
    color: black;
}

#header-img {
    display: flex;
    width: 20%;
    justify-content: center;
}

#image {
    width: 550px;
    padding: 40px 40px 100px;
}

#video {
    margin-top: 61px;
    height: 100vh;
}

.img-row {
    display: flex;
    justify-content: center;


}

img {
    border: solid;
    color: white;
    margin: 10px;
}

#video-container {
    display: flex;
    justify-content: center;

}