* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* -----header-elements----- */

#header {
    border: solid #2B2626;
    background: #2B2626;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#header-img {

    height: 50px;
    margin-left: 10px;
}

/* -----video-elements----- */

#video-container {
    display: flex;
    justify-content: center;


}

#video {
    margin-top: 61px;
    height: 100vh;
}

/* -----img-elements----- */

#image {
    width: 100%;
    padding: 40px 40px 0px;
}

.img-row {
    display: flex;
    justify-content: center;
}

/* -----buttons----- */

/* .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
} */

.button:hover {}

.div-button {
    align-content: center;
}

#features {
    margin-top: 30px;
}

/* ------h1-elements------ */

.h1-elements {

    margin: 70px 0px 0px 0px;
    color: pink;
    text-align: center;
    font-family: 'Alfa Slab One';
    opacity: 69%;


}

nav ul {
    font-family: 'Black Han Sans', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 23px;
    list-style: none;
    padding-top: 15px;

}



.nav-link {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

@media (max-width: 650px) {


    .img-row {
        flex-direction: column;
    }
}