* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    background-color: black;

}


#header {   
    border:solid #2B2626;
    background: #2B2626;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    
    
    
}


img {  
    width: 300px;
display: flex;
}

#nav-bar { 
     display: flex;

}

#header-img {
    display: flex;
    justify-content: flex-start;
}

iframe {
    width: 
}